name: Deploy MatrixGym

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1
    
    - name: Deploy to S3
      run: |
        aws s3 cp index.html s3://gym-matrix/index.html
        aws s3 cp credits.html s3://gym-matrix/credits.html
    
    - name: Invalidate CloudFront
      run: |
        aws cloudfront create-invalidation --distribution-id EVM69T0V8XZID --paths "/*"
